<header id="header">
    <div class="container">
        <div class="header clearfix">
            <nav id="site-nav">
                <ul class="nav nav-inverse nav-pills pull-right">
                    <!-- {% for post in site.Nav %}
                    <li role="presentation" class="{{if eq .Hover $.Hover}}active{{end}}">
                        <a href="{{ post.Link}} ">
                            {{ post.Title}}
                        </a>
                    </li>
                    {% endfor %} -->
                </ul>
            </nav>
            <h3 id="site-title">
                <a href="{{ site.Path }}/">{{ site.Meta.Title }} <sup>{{ site.Meta.Subtitle }}</sup></a>
            </h3>
        </div>
    </div>
</header>
