<!DOCTYPE html>
<html>
{% include header.html %}
<body>
<header id="header">
    <div class="container">
        <div class="header clearfix">
            {% include nav.html %}
            <h3 id="site-title">
                <a href="{{ site.Path }}/">{{ site.Meta.Title }} <sup>{{ site.Meta.Subtitle }}</sup></a>
            </h3>
        </div>
    </div>
</header>
<section id="main">
    <div class="container">
        <div id="archive-list">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 panel panel-default">
                    {% for post in site.posts %}
                    {{ post }}
                    {% endfor %}
                    <div class="archive">
                        <h3>归档</h3>
                        <hr/>
                        {% for post in site.posts %}
                        <h4>
                            <span class="date">{{ post.date | date: "%b" }}.{{ post.date | date: "%d" }}</span>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </h4>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include footer.html %}
</body>
</html>
