<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ site.title }}</title>
    <meta name="keywords" content="{{ site.Keyword }}"/>
    <meta name="description" content="{{ site.Desc }}"/>
    <style>{% include bootstrap.min.css %}</style>
    <style>{% include prism.css %}</style>
    <style>{% include style.css %}</style>
</head>
<body>
	<header id="header">
    <div class="container">
        <div class="header clearfix">
            <nav id="site-nav">
                <ul class="nav nav-inverse nav-pills pull-right">
                    {% for post in site.Nav %}
                    <li role="presentation" class="{{ post.Hover }}">
                        <a href="{{ post.Link}} ">
                            {{ post.Title}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <h3 id="site-title">
                <a href="{{ site.Path }}/">{{ site.Meta.Title }} <sup>{{ site.Meta.Subtitle }}</sup></a>
            </h3>
        </div>
    </div>
</header>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/prism.min.js"></script>
<script>
    $(document).ready(function () {
        $("pre code").addClass("line-numbers")
    });
</script>
</body>
